$brand-primary: #8a2697

$body-bg: lighten(#dddc8c, 15%)
$text-color: darken(#4f6066, 5%)

$navbar-height: 45px
$navbar-default-link-color: #ebe7ae
$navbar-default-color: #fb29d7
$navbar-default-bg: darken($brand-primary, 20%)
$navbar-default-link-color: white
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 10%)
$navbar-default-link-hover-bg: lighten($navbar-default-bg, 10%)
$navbar-default-brand-color: #ebd7b3

@import 'bootstrap'
@import 'bootstrap/theme'
@import 'syntax-highlight'
@import url(http://fonts.googleapis.com/css?family=Fenix|Lato:400,700)

.navbar-default
  font-family: 'Lato'
  font-weight: 700
  .navbar-nav > li > a, .navbar-brand a
    color: $navbar-default-link-color !important
    font-weight: normal !important
    text-shadow: none
    &:hover
      color: $navbar-default-link-hover-color
      background-color: $navbar-default-link-hover-bg
  .navbar-brand
    font-family: 'Fenix'
    font-weight: normal
    font-size: 22px
aside
  @extend .text-center
  .person-img
    margin: 0 auto
    display: inline-block
    overflow: hidden
    @extend .img-circle
    border: 10px solid white
    img
      max-height: 180px
  img
    @extend .img-responsive

.panel
  padding: 20px
  border: 0

.panel-default
  background-color: lighten($body-bg, 10%)

.panel-info
  background-color: rgba(lighten($body-bg, 5%), 0.8)
  border: none

article, .comments
  @extend .panel
  @extend .panel-default

@media (min-width: $screen-lg)
  .article-body
    padding: 20px 30px
  .article-footer
    margin: -20px -30px
  h1
    padding-left: 30px

.article-footer
  @extend .panel-footer
  @extend .row
  margin: -20px
  .permalink
    @extend .pull-right
    label
      display: inline-block
      @extend small
      margin-right: 10px
    input
      display: inline-block
      width: 350px

aside
  @extend .panel
  @extend .panel-info


@mixin lined-paper-bg
  background-image: linear-gradient(rgba($text-color, 0.1) .1em, transparent .1em)
  background-size: 100% 19px


body
  font-size: 16px
  font-family: 'Fenix', serif
  color: $text-color
  background-color: $body-bg
  +lined-paper-bg
  h1, h2, h3, h4
    font-weight: 700
    font-family: Lato
    color: rgba(mix($brand-primary, $text-color, 80%), 0.8)
  a
    color: lighten($brand-primary, 10%)
  ::selection
    background-color: rgba(lighten($brand-primary, 40%), 0.41)
  .badge
    background-color: darken($brand-primary, 10%)
.article-date
  @extend .lead
  float: right