$brand-primary: #8a2697

$body-bg: lighten(#dddc8c, 15%)
$text-color: darken(#4f6066, 5%)

$navbar-height: 45px
$navbar-inverse-link-color: #ebe7ae
$navbar-inverse-color: #fb29d7
$navbar-inverse-bg: darken($brand-primary, 12%)
$navbar-inverse-link-color: white
$navbar-inverse-link-hover-color: lighten($navbar-inverse-link-color, 10%)
$navbar-inverse-link-hover-bg: lighten($navbar-inverse-bg, 10%)
$navbar-inverse-brand-color: #ebd7b3
$navbar-inverse-toggle-hover-bg: $navbar-inverse-link-hover-bg
$navbar-inverse-toggle-border-color: rgba(darken($navbar-inverse-bg, 10%), 0.7)

@import 'bootstrap'
@import 'bootstrap/theme'
@import 'syntax-highlight'
@import url(http://fonts.googleapis.com/css?family=Fenix:400,700|Lato:400,700)

.navbar-inverse
  border-radius: 0
  font-family: 'Lato'
  font-weight: 700
  .navbar-nav > li > a, .navbar-brand a
    color: $navbar-inverse-link-color !important
    font-weight: normal !important
    text-shadow: none
    &:hover
      color: $navbar-inverse-link-hover-color
      background-color: $navbar-inverse-link-hover-bg
  .navbar-brand
    font-family: 'Fenix'
    font-weight: normal
    font-size: 22px
aside
  @extend .text-center
  .person-img
    margin: 0 auto
    display: inline-block
    overflow: hidden
    @extend .img-circle
    border: 10px solid white
    max-height: 180px
    max-width: 180px
  img
    @extend .img-responsive

.panel
  padding: 20px
  border: 0

.panel-default
  background-color: lighten($body-bg, 10%)

.panel-info
  background-color: rgba(lighten($body-bg, 5%), 0.8)
  border: none

article, .comments
  @extend .panel
  @extend .panel-default

.article-footer
  @extend .panel-footer
  @extend .row
  margin: 0 -20px -20px -20px
  .permalink
    @extend .pull-right
    label
      display: inline-block
      @extend small
      margin-right: 10px
    input
      display: inline-block
      width: 350px
      max-width: 75%

aside
  @extend .panel
  @extend .panel-info


@mixin lined-paper-bg
  background-image: linear-gradient(rgba($text-color, 0.1) .1em, transparent .1em)
  background-size: 100% 19px


body
  font-size: 16px
  font-family: 'Fenix', serif
  color: $text-color
  background-color: $body-bg
  +lined-paper-bg
  h1, h2, h3, h4
    font-weight: 700
    font-family: Lato
    color: rgba(mix($brand-primary, $text-color, 80%), 0.8)
  a
    color: lighten($brand-primary, 10%)
  ::selection
    background-color: rgba(lighten($brand-primary, 40%), 0.41)
  .badge
    background-color: darken($brand-primary, 10%)
.article-date
  @extend .lead
  float: right


@media (max-width: $screen-xs)
  header.navbar
    margin-bottom: 0
  body
    font-size: 15px
    > .container
      padding: 0
      > .row
        margin: 0
        [class^='col-']
          padding: 0

  article code
    white-space: normal

@media (max-width: $screen-sm)
  h1
    font-size: 32px
  h2
    font-size: 26px

@media (min-width: $screen-lg)
  .article-body
    padding: 20px 30px
  article
    h1, h2
      padding-left: 30px
